/* Add CSS Styling */
.both {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}
#first {
    color: #ffffff;
    background-color: #000000;
}
#second {
    background-color: #fbff00;
}